<div class="container">
  <div class="row">
    <div class="col-12">
      <%= form_with model: @reservation, local: true, class: "needs-validation", novalidate: true do |f| %>
        <div class="mb-3">
          <%= f.label :service_id, "Service", class: "form-label" %>
          <%= f.collection_select :service_id, Service.all, :id, :name, {}, class: "form-control form-select", required: true %>
          <div class="invalid-feedback">Veuillez sélectionner un service.</div>
        </div>
        <div class="mb-3">
          <%= f.label :date_debut, "Date d'arrivée", class: "form-label" %>
          <%= f.date_field :date_debut, class: "form-control", required: true %>
          <div class="invalid-feedback">Veuillez sélectionner une date d'arrivée.</div>
        </div>
        <div class="mb-3">
          <%= f.label :date_fin, "Date de départ", class: "form-label" %>
          <%= f.date_field :date_fin, class: "form-control", required: true %>
          <div class="invalid-feedback">Veuillez sélectionner une date de départ.</div>
        </div>
        <div class="mb-3">
          <%= f.label :nb_adulte, "Nombre d'adultes", class: "form-label" %>
          <%= f.number_field :nb_adulte, class: "form-control", required: true %>
          <div class="invalid-feedback">Veuillez fournir le nombre d'adultes.</div>
        </div>
        <div class="mb-3">
          <%= f.label :nb_enfant, "Nombre d'enfants", class: "form-label" %>
          <%= f.number_field :nb_enfant, class: "form-control", required: true %>
          <div class="invalid-feedback">Veuillez fournir le nombre d'enfants.</div>
        </div>
        <div class="mb-3">
          <%= f.label :mode_paiement, "Mode de paiement", class: "form-label" %>
          <%= f.select :mode_paiement, options_for_select(["orange-money", "mtn-money", "virement-bancaire"]), {}, class: "form-control form-select", required: true %>
          <div class="invalid-feedback">Veuillez sélectionner un mode de paiement.</div>
        </div>
        <div class="mb-3">
          <%= f.label :montant_a_payer, "Montant net à payer", class: "form-label" %>
          <%= f.number_field :montant_a_payer, class: "form-control", readonly: true %>
          <div class="invalid-feedback">Le montant sera calculé automatiquement.</div>
        </div>
        <div class="mb-3 button-form">
          <%= f.submit "Annuler", class: "btn btn-danger", type: "reset", id: "annuler" %>
          <%= f.submit "Réserver", class: "btn btn-primary", id: "reserver" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
