<div id="services">
  <% @services.each do |service| %>
    <div class="card-container">
      <div class="card card-infos">
        <%= link_to services_index_path do %>
          <div id="carousel-<%= service.id %>" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <% if service.name == 'Chambres haut standing' %>
                <div class="carousel-item active">
                  <%= image_tag "img-ch1.jpg", class: "d-block w-100", alt: service.name %>
                </div>
                <div class="carousel-item">
                  <%= image_tag "img-ch2.jpg", class: "d-block w-100", alt: service.name %>
                </div>
                <div class="carousel-item">
                  <%= image_tag "img-ch3.jpg", class: "d-block w-100", alt: service.name %>
                </div>
                <div class="carousel-item">
                  <%= image_tag "img-ch4.jpg", class: "d-block w-100", alt: service.name %>
                </div>
              <% elsif service.name == 'Studios meublés' %>
                <div class="carousel-item active">
                  <%= image_tag "studio1.jpg", class: "d-block w-100", alt: service.name %>
                </div>
                <div class="carousel-item">
                  <%= image_tag "studio2.jpg", class: "d-block w-100", alt: service.name %>
                </div>
                <div class="carousel-item">
                  <%= image_tag "studio3.jpg", class: "d-block w-100", alt: service.name %>
                </div>
                <div class="carousel-item">
                  <%= image_tag "studio4.jpg", class: "d-block w-100", alt: service.name %>
                </div>
              <% elsif service.name == 'Appartements meublés' %>
                <div class="carousel-item active">
                  <%= image_tag "studio1.jpg", class: "d-block w-100", alt: service.name %>
                </div>
                <div class="carousel-item">
                  <%= image_tag "studio2.jpg", class: "d-block w-100", alt: service.name %>
                </div>
                <div class="carousel-item">
                  <%= image_tag "studio3.jpg", class: "d-block w-100", alt: service.name %>
                </div>
                <div class="carousel-item">
                  <%= image_tag "studio4.jpg", class: "d-block w-100", alt: service.name %>
                </div>
              <% else %>
                <div class="carousel-item active">
                  <%= image_tag "img-ch1.jpg", class: "d-block w-100", alt: service.name %>
                </div>
                <div class="carousel-item">
                  <%= image_tag "img-ch1.jpg", class: "d-block w-100", alt: service.name %>
                </div>
                <div class="carousel-item">
                  <%= image_tag "img-ch1.jpg", class: "d-block w-100", alt: service.name %>
                </div>
                <div class="carousel-item">
                  <%= image_tag "img-ch1.jpg", class: "d-block w-100", alt: service.name %>
                </div>
              <% end %>
            </div>
            <a class="carousel-control-prev" href="#carousel-<%= service.id %>" role="button" data-bs-slide="prev">
              <span class="carousel-control-prev-icon icon-direct" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel-<%= service.id %>" role="button" data-bs-slide="next">
              <span class="carousel-control-next-icon icon-direct" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        <% end %>
        <div class="card-body product-card">
          <div class="info-left">
            <h5 class="card-title"><%= service.name %></h5>
            <p class="card-text"><%= service.description %></p>
            <% if service.name == 'Chambres haut standing' %>
              <p class="card-text"><span>A partir de 30.000 FCFA.</span></p>
            <% elsif service.name == 'Studios meublés' %>
              <p class="card-text"><span>A partir de 35.000 FCFA.</span></p>
            <% elsif service.name == 'Appartements meublés' %>
              <p class="card-text"><span>A partir de 45.000 FCFA.</span></p>
            <% else %>
              <p class="card-text"><span>Contacte nous pour plus d'informations.</span></p>
            <% end %>
          </div>
          <div class="info-right">
            <%= link_to "Reserver", reservations_new_path(service_id: service.id), class: "btn btn-primary", id: "reserver" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
