<div class="row">
  <% @services.each do |service| %>
    <div class="card-container">
      <div class="card card-infos">
        <%= link_to services_index_path do %>
          <% if service.name == 'Chambres haut standing' %>
            <%= link_to reservations_new_path do %>
              <%= image_tag "chambre.jpg", class: "d-block w-100", alt: service.name %>
            <% end %>
          <% elsif service.name == 'Studios meublés' %>
            <%= link_to reservations_new_path do %>
              <%= image_tag "chambre-climatisee.jpg", class: "d-block w-100", alt: service.name %>
            <% end %>
          <% elsif service.name == 'Appartements meublés' %>
            <%= link_to reservations_new_path do %>
              <%= image_tag "appartement.jpg", class: "d-block w-100", alt: service.name %>
            <% end %>
          <% else %>
            <%= link_to reservations_new_path do %>
              <%= image_tag "carousel1.jpg", class: "d-block w-100", alt: service.name %>
            <% end %>
          <% end %>
        <% end %>
        <div class="card-body product-card">
          <div class="info-left">
            <h5 class="card-title"><%= service.name %></h5>
            <p class="card-text"><%= service.description %></p>
            <% if service.name == 'Chambres haut standing' %>
              <p class="card-text"><span>A partir de 30.000 FCFA.</span></p>
            <% elsif service.name == 'Studios meublés' %>
              <p class="card-text"><span>A partir de 35.000 FCFA.</span></p>
            <% elsif service.name == 'Appartements meublés' %>
              <p class="card-text"><span>A partir de 45.000 FCFA.</span></p>
            <% else %>
              <p class="card-text"><span>Contacte nous pour plus d'informations.</span></p>
            <% end %>
          </div>
          <div class="info-right">
            <%= link_to "Reserver", reservations_new_path(service_id: service.id), class: "btn btn-primary", id: "reserver" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
