<!DOCTYPE html>
<html>
  <head>
    <title>Residence Hoteliere Njiah Daah</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="icon" type="image/png" href="<%= asset_path 'user.png' %>">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0/js/bootstrap.min.js"></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.9.2/mapbox-gl.css' rel='stylesheet' />
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.9.2/mapbox-gl.js'></script>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'cards', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'reservations', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>
    <% if controller_name == 'pages' && action_name == 'home' %>
      <%= render "shared/home-header" %>
    <% end %>
    <div class="content-wrapper container">
      <%= yield %>
    </div>
    <%= render "shared/map" %>
    <%= render "shared/footer" %>
    <%#= render "shared/floating-button" %>
  </body>
</html>
